/*  JAPANESE FONT STACK

	This is a basic Japanese language font stack. This will ensure that Japanese text will render with
	the most common Japanese font already available to the user. As Japanese fonts tend to be very large
	to account for the vast number of kanji, it is more common to use a font stack such as this than
	to try to load a web font (although they do exist as well)  */

.ja {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", sans-serif;
}


/*  BOILERPLATE DEFAULTS

	Remove these for your own design.  */

body {
	background: #f2f2f2;
}

.mdl-navigation__link>i {
	width: 50px;
	text-align: center;
}

.page-content {
	display: flex;
	align-items: center;
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	min-height: 90vh;
}

.demo-card-wide.mdl-card {
	width: 100%;
}

.demo-card-wide>.mdl-card__title {
	color: #fff;
	height: 250px;
	background: url('../img/share.png') center / cover;
}

.demo-card-wide>.mdl-card__menu {
	color: #fff;
}

@media (max-width: 600px) {
	.page-content {
		margin-top: 50px;
	}
}

.code-display {
	width: 100%;
	background: #f2f2f2;
	resize: none;
	padding: 1em;
	height: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: monospace;
}

#source {
	display: none;
}
