$version: "Materialyte v0.1";
$font-stack: Roboto, "Noto Sans", Helvetica, "Open Sans", sans-serif;
$dark-primary-color: #505061;
$primary-color: #6a6f7c;
$primary-color-highlight: #8a8f9c;
$light-primary-color: #9397cd;
$light-primary-color-highlight: #b3b7ed;
$text-icons: white;
$accent: #FFC107;
$accent-highlight: #FFE127;
$primary-text: #212121;
$secondary-text: #757575;
$active-highlight: #d2d2d2;
$divider: #BDBDBD;
$background: #F2F2F2;
$card-background: white;

$shadow1: 0 1px 3px rgba(33, 33, 33, 0.12), 0 1px 2px rgba(33, 33, 33, 0.24);
$shadow2: 0 3px 6px rgba(33, 33, 33, 0.16), 0 3px 6px rgba(33, 33, 33, 0.23);
$shadow3: 0 10px 20px rgba(33, 33, 33, 0.19), 0 6px 6px rgba(33, 33, 33, 0.23);
$shadow4: 0 14px 28px rgba(33, 33, 33, 0.25), 0 10px 10px rgba(33, 33, 33, 0.22);
$shadow5: 0 19px 38px rgba(33, 33, 33, 0.30), 0 15px 12px rgba(33, 33, 33, 0.22);
