@import "variables";

/**************************************
 VERSION                        
**************************************/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
a.appVersion-container {
    color: $secondary-text !important;
}

div.storageProgress-container a:hover,
.appVersion-container:hover {
    background: none !important;
    color: $primary-color-highlight !important;
}

a.appVersion-container:after {
    content: $version;
    display: block;
}


/**************************************
 GENERAL                            
**************************************/

body {
    background: $background !important;
    font-family: $font-stack;
    font-weight: 400;
}


/**************************************
 NAVIGATION BAR                     
**************************************/

a.logo {
    background: none !important;
}

#pm_headerDesktop {
    box-shadow: $shadow2;
    z-index: 9001;
}

ul.navigation .fa-angle-down,
ul.navigation .navigation-title {
    display: none !important;
}

ul.navigation li {
    width: 80px !important;
    margin-right: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

ul.navigation a#tour-settings {
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

ul.navigation a#tour-settings span {
    width: auto !important;
    height: auto !important;
}

ul.navigation i {
    font-size: 24px !important;
}

a.navigation-link {
    height: auto;
    width: auto;
}

ul.navigation .fa-users:hover:after,
ul.navigation .fa-cogs:hover:after {
    content: "Contacts";
    background: $primary-text;
    padding: .75em;
    border-radius: 4px;
    font-family: $font-stack;
    font-size: 16px;
    z-index: 20;
    left: 100px;
    display: block;
    position: relative;
    top: 53px;
    left: -55px;
    color: white;
}

ul.navigation .fa-cogs:hover:after {
    content: "Settings" !important;
    background: $primary-text;
    left: 100px;
    top: 55px;
    left: -53px;
}

.pm_dropdown-opened {
    border: 0px;
    box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.3);
}

.navigationUser-dropdown .appVersion-container:after {
    display: none;
}

.pm_dropdown-opened i.fa {
    font-size: 14px !important;
}


/**************************************
 SIDEBAR                            
**************************************/

ul.menu {
    padding-top: 1em !important;
}

.sidebar {
    background: $background !important;
    font-family: $font-stack !important;
}

ul.menu a,
ul.menu i {
    color: $secondary-text !important;
}

.sidebar a:hover {
    background: $divider;
}

.sidebar li.active {
    background: $active-highlight;
}

.sidebar li.active a,
ul.menu li.active i {
    color: $primary-text !important;
}

.sidebar-btn-back {
    margin-top: 1em;
}

.donateBtn-container,
.menuLabel-title {
    color: $secondary-text !important;
}

ul.menuLabel-container li a:hover {
    background: transparent !important;
}

ul.menuLabel-container li.active {
    background: transparent !important;
}

ul.menuLabel-container li.active span {
    color: $primary-text !important;
    font-weight: 700 !important;
}

.donateBtn-container:hover,
ul.menuLabel-container li span:hover {
    color: $primary-text !important;
}

em.navigationItem-counter {
    color: $light-primary-color !important;
}

button.refresh {
color: $light-primary-color !important; 
}

button.refresh:hover {
color: $light-primary-color-highlight !important;
}


/**************************************
 MAIL DISPLAY                       
**************************************/

nav#pm_toolbar-desktop {
    box-shadow: none;
    padding-left: 1.25em;
}

div#conversation-list-columns {
    overflow: scroll;
    overflow-x: hidden;
    border-right: 0px;
    padding-right: 1em !important;
}

div.message-frame {
    background: $card-background !important;
}

div.conversation {
    background-color: $card-background !important;
    border: 0px !important;
    margin-bottom: 1px !important;
    box-shadow: $shadow2;
}

div.marked span.subject-text,
div.marked {
    color: $primary-text !important;
    box-shadow: $shadow3;
}

div.marked {
   margin: 5px auto !important;
}

div.marked:before {
    z-index: 10;
}

div.active {
    color: $primary-text !important;
    z-index: 5;
    margin: 5px auto !important;
}

div.active:before {
    width: 5px;
    background: $divider;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    content: "";
}

div#conversation-list-rows,
div#conversation-list-columns {
    padding: 1em;
    padding-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.conversation label,
div.conversation span,
div.conversation-meta span,
div.conversation-meta label {
    background: $card-background !important;
    box-shadow: none !important;
}

a.sidebar-btn-back {
    padding: 1em;
}

a.sidebar-btn-back,
button.pm_button {
    border: 0px transparent solid !important;
    font-family: $font-stack !important;
    font-weight: 300;
    background: $background !important;
    border: 0px !important;
    border-radius: 3px !important;
    box-shadow: $shadow1;
    transition: all 400ms ease !important;
    color: $primary-text !important;
}

a.sidebar-btn-back:hover,
button.pm_button:hover {
    background: $card-background !important;
    border: 0px !important;
    border-radius: 3px !important;
    box-shadow: $shadow2;
}

div#pm_thread article {
    border: 0px !important;
    box-shadow: 0px 3px 6px 0px rgba(33, 33, 33, 0.3) !important;
    border-radius: 4px !important;
}

header#conversationHeader {
    border: 0;
}


/**************************************
 DRAFTS                             
**************************************/

span.folderConversations-container i {
    color: $primary-text !important;
}


/**************************************
 WELCOME AREA                       
**************************************/

div#pm_latest header {
    background: $card-background;
    border: 0px !important;
    box-shadow: $shadow2;
    margin: 0px 20px 20px 20px !important;
    top: 5px !important;
    position: relative;
}

div#pm_latest section {
    border: 0px !important;
    box-shadow: $shadow2;
    background: $card-background;
    top: 5px !important;
    position: relative;
}


/**************************************
  BUTTONS AND INPUTS                 
**************************************/


/* Normal buttons */

a.sidebar-btn-back,
button.primary {
    color: $text-icons !important;
    background: $light-primary-color !important;
}

a.sidebar-btn-back i {
    color: $card-background !important;
}

a.sidebar-btn-back:hover,
button.primary:hover {
    background: $light-primary-color-highlight !important;
}

a.sidebar-btn-back:hover,
button.primary:focus {
    background: $light-primary-color-highlight !important;
}


/* Signature input in settings */

div#signature {
    background: $card-background !important;
}


/* Composer buttons */

button.composerHeader-btn {
    background: transparent !important;
    color: $card-background !important;
}

button.composerHeader-btn:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: none !important;
}

.composerSelectFrom-container button,
.composerInputMeta-container button,
.composerInputMeta-container button:hover {
    background: none !important;
}

.composerInputMeta-container button {
    box-shadow: none !important;
}

div.composer-field-From select {
    cursor: pointer !important;
}

div.composer {
   z-index: 1001 !important;
}

/**************************************
 FAB BUTTON                         
**************************************/

.sidebar button.compose {
    position: fixed;
    z-index: 1000;
    display: block !important;
    bottom: 1em;
    right: 4em;
    height: 60px !important;
    width: 60px !important;
    border-radius: 100px !important;
}

.sidebar button.compose {
    display: flex !important;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow2;
    border: 0px transparent solid !important;
    transition: all 400ms ease !important;
}

.sidebar button.compose:hover {
    border-radius: 300px !important;
    background-color: $light-primary-color-highlight !important;
    box-shadow: $shadow3;
}

.sidebar button.compose:hover:before {
    border-radius: 3px;
    position: absolute;
    display: block;
    content: "Compose";
    text-transform: none !important;
    padding: 5px;
    left: -80px;
    background: $primary-text;
    color: $text-icons;
    transition: all 1s ease;
    height: 20px !important;
    line-height: 18px !important;
    min-height: auto !important;
}

.sidebar button.compose span {
    display: none;
}

.sidebar button.compose i {
    display: block !important;
    color: $card-background !important;
    font-size: 24px;
}


/**************************************
 CONTACTS                           
**************************************/

div.contactWrapper {
    background: $card-background;
}
