/**************************************/
/* VERSION                            */
/**************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
a.appVersion-container:after {
  content: "Materialyte v0.0.1";
  display: block; }

/**************************************/
/* IMPORTS                            */
/**************************************/
/**************************************/
/* GENERAL                            */
/**************************************/
body {
  background: #F2F2F2 !important;
  font-family: Roboto, "Noto Sans", Helvetica, "Open Sans", sans-serif;
  font-weight: 400; }

/**************************************/
/* NAVIGATION BAR                     */
/**************************************/
a.logo {
  background: none !important; }

#pm_header-desktop {
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.3);
  z-index: 9001; }

ul.navigation .fa-angle-down,
ul.navigation strong {
  display: none !important; }

ul.navigation li {
  width: 80px !important;
  margin-right: 0;
  display: flex !important;
  align-items: center;
  justify-content: center; }

ul.navigation a#tour-settings {
  display: block !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important; }

ul.navigation a#tour-settings span {
  display: block !important;
  width: auto !important;
  height: auto !important; }

ul.navigation a#tour-settings span i,
ul.navigation a[href="/contacts"] span i,
ul.navigation a.pm_trigger span i {
  font-size: 24px !important;
  margin-top: 8px !important; }

/**************************************/
/* SIDEBAR                            */
/**************************************/
ul.menu {
  padding-top: 1em !important; }

.sidebar {
  background: #F2F2F2 !important; }

.sidebar a,
.sidebar i {
  color: #757575 !important; }

.sidebar a:hover {
  background: #e2e2e2; }

.sidebar li.active {
  background: #d2d2d2; }

.sidebar li.active a,
.sidebar li.active i {
  color: #212121 !important; }

.backToInbox {
  margin-top: 1em; }

/**************************************/
/* FAB BUTTON                         */
/**************************************/
a.compose {
  position: fixed;
  display: block !important;
  bottom: 1em;
  right: 3em;
  height: 60px !important;
  width: 60px !important;
  border-radius: 100px !important; }

a.compose {
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.3);
  border: 0px transparent solid !important;
  transition: all 400ms ease !important; }

a.compose:hover {
  background-color: #a3a7dd !important;
  box-shadow: 0px 10px 15px 0px rgba(33, 33, 33, 0.3); }

a.compose:hover:before {
  position: absolute;
  display: block;
  content: "Compose";
  text-transform: none !important;
  padding: 5px;
  border-radius: 3px;
  left: -80px;
  background: #212121;
  color: white;
  transition: all 1s ease;
  height: 20px !important;
  line-height: 18px !important;
  min-height: auto !important; }

a.compose span {
  display: none; }

.compose i {
  display: block !important;
  color: white !important;
  font-size: 24px; }

/**************************************/
/* MAIL DISPLAY                       */
/**************************************/
div.message-frame {
  background: white !important; }

div.conversation {
  background-color: white !important;
  border: 0px !important;
  margin-bottom: 1px !important;
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.3); }

div.marked span.subject-text,
div.marked {
  color: #212121 !important; }

div#conversation-list-rows,
div#conversation-list-columns {
  padding: 1em; }

div.conversation-meta {
  background: white !important; }

div.conversation-meta span,
div.conversation-meta label {
  background: white !important;
  box-shadow: none !important; }

a.backToInbox {
  padding: 1em; }

a.backToInbox,
button.pm_button {
  border: 0px transparent solid !important;
  font-family: Roboto !important;
  font-weight: 300;
  background: #f2f2f2 !important;
  border: 0px !important;
  border-radius: 3px !important;
  box-shadow: 0px 1px 3px 0px rgba(33, 33, 33, 0.33);
  transition: all 400ms ease !important;
  color: #212121 !important; }

a.backToInbox:hover,
button.pm_button:hover {
  background: white !important;
  border: 0px !important;
  border-radius: 3px !important;
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.33); }

/**************************************/
/* BUTTONS AND INPUTS                 */
/**************************************/
/* Normal buttons */
a.backToInbox,
button.primary {
  color: white !important;
  background: #9397cd !important; }

a.backToInbox i {
  color: white !important; }

a.backToInbox:hover,
button.primary:hover {
  background: #a3a7dd !important; }

a.backToInbox:hover,
button.primary:focus {
  background: #a3a7dd !important; }

/* Signature input in settings */
div#signature {
  background: white !important; }

/* Composer buttons */
button.composerHeader-btn {
  background: transparent !important;
  color: white !important; }

button.composerHeader-btn:hover {
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: none !important; }

.composerSelectFrom-container button,
.composerInputMeta-container button,
.composerInputMeta-container button:hover {
  background: none !important; }

.composerInputMeta-container button {
  box-shadow: none !important; }

/*# sourceMappingURL=materialyte.css.map */
